exportPattern("^[[:alpha:]]+")
import(dplyr)
import(purrr)
import(tidyr)
importFrom(lubridate, hours)
importFrom(lubridate, days)
importFrom(lubridate, weeks)
importFrom(lubridate, '%m+%')
importFrom(lubridate, '%m-%')
importFrom(lubridate, floor_date)
